In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 9ms/step - loss: 100362.1406 - mae: 100362.1406 - val_loss: 98463.7969 - val_mae: 98463.7969
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 99471.6250 - mae: 99471.6250 - val_loss: 96699.4453 - val_mae: 96699.4453
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 96445.7969 - mae: 96445.7969 - val_loss: 92289.7656 - val_mae: 92289.7656
Epoch 4/100
250/250 [==============================] - 2s 6ms/step - loss: 90622.0312 - mae: 90622.0312 - val_loss: 85104.6328 - val_mae: 85104.6328
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 82298.7109 - mae: 82298.7109 - val_loss: 75991.9766 - val_mae: 75991.9766
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 72782.1953 - mae: 72782.1953 - val_loss: 66913.6797 - val_mae: 66913.6797
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 63910.5273 - mae: 63910.5273 - val_loss: 59342.6992 - val_mae: 59342.6992
Epoch 8/100
250/250 [==============================] - 2s 8ms/step - loss: 57177.1289 - mae: 57177.1289 - val_loss: 54314.1172 - val_mae: 54314.1172
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 53149.3984 - mae: 53149.3984 - val_loss: 51777.0273 - val_mae: 51777.0273
Epoch 10/100
250/250 [==============================] - 1s 6ms/step - loss: 51265.1758 - mae: 51265.1758 - val_loss: 50933.0977 - val_mae: 50933.0977
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 50543.9102 - mae: 50543.9102 - val_loss: 50668.0234 - val_mae: 50668.0234
Epoch 12/100
250/250 [==============================] - 2s 6ms/step - loss: 50274.4492 - mae: 50274.4492 - val_loss: 50569.0117 - val_mae: 50569.0117
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50146.1758 - mae: 50146.1758 - val_loss: 50515.0234 - val_mae: 50515.0234
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 50070.6133 - mae: 50070.6133 - val_loss: 50475.8672 - val_mae: 50475.8672
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 50017.2812 - mae: 50017.2812 - val_loss: 50449.1992 - val_mae: 50449.1992
Epoch 16/100
250/250 [==============================] - 1s 6ms/step - loss: 49977.6562 - mae: 49977.6562 - val_loss: 50416.9688 - val_mae: 50416.9688
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 49940.3320 - mae: 49940.3320 - val_loss: 50401.0664 - val_mae: 50401.0664
Epoch 18/100
250/250 [==============================] - 2s 8ms/step - loss: 49902.9570 - mae: 49902.9570 - val_loss: 50385.2422 - val_mae: 50385.2422
Epoch 19/100
250/250 [==============================] - 2s 8ms/step - loss: 49872.8750 - mae: 49872.8750 - val_loss: 50367.3164 - val_mae: 50367.3164
Epoch 20/100
250/250 [==============================] - 1s 6ms/step - loss: 49845.6289 - mae: 49845.6289 - val_loss: 50355.8828 - val_mae: 50355.8828
Epoch 21/100
250/250 [==============================] - 2s 6ms/step - loss: 49818.6211 - mae: 49818.6211 - val_loss: 50346.1758 - val_mae: 50346.1758
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49794.5078 - mae: 49794.5078 - val_loss: 50324.7656 - val_mae: 50324.7656
Epoch 23/100
250/250 [==============================] - 2s 9ms/step - loss: 49772.6836 - mae: 49772.6836 - val_loss: 50322.3203 - val_mae: 50322.3203
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49753.0664 - mae: 49753.0664 - val_loss: 50313.5352 - val_mae: 50313.5352
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 49738.7461 - mae: 49738.7461 - val_loss: 50314.8281 - val_mae: 50314.8281
Epoch 26/100
250/250 [==============================] - 2s 7ms/step - loss: 49713.6680 - mae: 49713.6680 - val_loss: 50302.5156 - val_mae: 50302.5156
Epoch 27/100
250/250 [==============================] - 2s 6ms/step - loss: 49695.0156 - mae: 49695.0156 - val_loss: 50303.0078 - val_mae: 50303.0078
Epoch 28/100
250/250 [==============================] - 2s 6ms/step - loss: 49678.4102 - mae: 49678.4102 - val_loss: 50291.3672 - val_mae: 50291.3672
Epoch 29/100
250/250 [==============================] - 1s 6ms/step - loss: 49664.9023 - mae: 49664.9023 - val_loss: 50290.6992 - val_mae: 50290.6992
Epoch 30/100
250/250 [==============================] - 2s 9ms/step - loss: 49650.4102 - mae: 49650.4102 - val_loss: 50281.1523 - val_mae: 50281.1523
Epoch 31/100
250/250 [==============================] - 1s 6ms/step - loss: 49635.7031 - mae: 49635.7031 - val_loss: 50278.0352 - val_mae: 50278.0352
Epoch 32/100
250/250 [==============================] - 1s 6ms/step - loss: 49621.7188 - mae: 49621.7188 - val_loss: 50284.3438 - val_mae: 50284.3438
Epoch 33/100
250/250 [==============================] - 2s 6ms/step - loss: 49608.2930 - mae: 49608.2930 - val_loss: 50289.4141 - val_mae: 50289.4141
Epoch 34/100
250/250 [==============================] - 3s 11ms/step - loss: 49598.0117 - mae: 49598.0117 - val_loss: 50290.6562 - val_mae: 50290.6562
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49586.2734 - mae: 49586.2734 - val_loss: 50285.1641 - val_mae: 50285.1641
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49576.4258 - mae: 49576.4258 - val_loss: 50287.3359 - val_mae: 50287.3359
Epoch 37/100
250/250 [==============================] - 3s 10ms/step - loss: 49564.5469 - mae: 49564.5469 - val_loss: 50290.7461 - val_mae: 50290.7461
Epoch 38/100
250/250 [==============================] - 2s 10ms/step - loss: 49558.1680 - mae: 49558.1680 - val_loss: 50274.1445 - val_mae: 50274.1445
Epoch 39/100
250/250 [==============================] - 3s 13ms/step - loss: 49545.7109 - mae: 49545.7109 - val_loss: 50288.0547 - val_mae: 50288.0547
Epoch 40/100
250/250 [==============================] - 2s 9ms/step - loss: 49533.9766 - mae: 49533.9766 - val_loss: 50278.4414 - val_mae: 50278.4414
Epoch 41/100
250/250 [==============================] - 2s 7ms/step - loss: 49528.5000 - mae: 49528.5000 - val_loss: 50272.7070 - val_mae: 50272.7070
Epoch 42/100
250/250 [==============================] - 2s 9ms/step - loss: 49521.7773 - mae: 49521.7773 - val_loss: 50279.4023 - val_mae: 50279.4023
Epoch 43/100
250/250 [==============================] - 2s 6ms/step - loss: 49511.0273 - mae: 49511.0273 - val_loss: 50278.3516 - val_mae: 50278.3516
Epoch 44/100
250/250 [==============================] - 2s 9ms/step - loss: 49505.9805 - mae: 49505.9805 - val_loss: 50274.6328 - val_mae: 50274.6328
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49497.7734 - mae: 49497.7734 - val_loss: 50278.5000 - val_mae: 50278.5000
Epoch 46/100
250/250 [==============================] - 2s 9ms/step - loss: 49490.5508 - mae: 49490.5508 - val_loss: 50284.8750 - val_mae: 50284.8750
Epoch 47/100
250/250 [==============================] - 1s 6ms/step - loss: 49484.7148 - mae: 49484.7148 - val_loss: 50295.2734 - val_mae: 50295.2734
Epoch 48/100
250/250 [==============================] - 3s 10ms/step - loss: 49476.3828 - mae: 49476.3828 - val_loss: 50295.7969 - val_mae: 50295.7969
Epoch 49/100
250/250 [==============================] - 2s 8ms/step - loss: 49471.1133 - mae: 49471.1133 - val_loss: 50293.0312 - val_mae: 50293.0312
Epoch 50/100
250/250 [==============================] - 2s 6ms/step - loss: 49465.0625 - mae: 49465.0625 - val_loss: 50290.8125 - val_mae: 50290.8125
Epoch 51/100
250/250 [==============================] - 2s 8ms/step - loss: 49462.4141 - mae: 49462.4141 - val_loss: 50293.9844 - val_mae: 50293.9844

In [18]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit/20250530-032123

Reusing TensorBoard on port 6009 (pid 15940), started 0:00:14 ago. (Use '!kill 15940' to kill it.)

In [21]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50272.7070 - mae: 50272.7070
Test MAE : 50272.70703125

In [22]:
model.save('regression_model.h5')

c:\Users\Lenovo\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(